/* Admin section layout */
.admin {
    height: 100%;
    width: 100%;
    background-color: rgb(241, 241, 241);
    padding-top: 60px; /* Space for the navbar */
}

/* Admin container with space for the fixed navbar */
.admin-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Tabs section styling */
.admin-tabs {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    width: 80%;
    margin-top: 0; /* Prevent any overlap */
    background-color: white;
}

/* Media query for responsive design */
@media only screen and (max-width: 900px) {
    .admin-tabs {
        width: 95%;
    }
}

@media only screen and (max-width: 640px) {
    .admin-tabs {
        width: 99%;
    }
}
