.tabs {
    background-image: linear-gradient(to right, rgb(47, 50, 53), rgb(107, 111, 114));
}

.tab-panel {
    height: 100vh;
    overflow: auto; /* Ensures content is scrollable if it overflows */
}

/* Ensure content within TabPanels is responsive */
@media (max-width: 768px) {
    .tabs {
        font-size: 0.8rem;
    }

    .tab-panel {
        height: auto;
    }
}
